{
  "role_type": "jwt",
  "policies": ["github-infra-policy"],
  "token_explicit_max_ttl": 60,
  "user_claim": "sub",
  "bound_audiences": "vault",
  "bound_subject": "repo:same3na/ansible:ref:refs/heads/main"
}